<!DOCTYPE html>
<html>

<head>
  <title>Set Threshold</title>
</head>

<body>
  <h1>Set Numbers</h1>
  <form method="post">
    <label for="min_num">Minimal Number:</label>
    <input type="number" id="min_num" name="min_num"><br><br>

    <label for="max_num">Maximum Number:</label>
    <input type="number" id="max_num" name="max_num"><br><br>

    <label for="currency_type">Currency Type:</label>
    <select id="currency_type" name="currency_type">
      <option value="buy">Buy</option>
      <option value="sell">Sell</option>

      <input type="submit" value="Send Numbers">
  </form>

  <button onclick="window.location.href = '/';">Back</button>
</body>

</html>